.productBanner {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../../assets/productsGeneral.webp");
    /* height: max(300px, 25vw); */
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: max(80px, 4vw);
    padding: 10% 4% 4% 10%;
 }

 .productBanner .firstText{
      font-weight: 600;
      font-size: max(30px,2vw);
 }
 
 .homeBanner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
 
    background: inherit;
    background-attachment: fixed;
    background-size: cover;
    transform: translateZ(0);
 }

 .productContainer{
   padding: 4%;
 }

 
 
 .productBanner h1 {
    color: #f5f5f5;
    position: relative;
 }
 
 .productBanner p {
    color: #f5f5f5;
 }
 
 .homeBannerContainer {
    display: flex;
    flex-direction: column;
    gap: max(15px, 1vw);
 }
 
 .middleText {
    width: 40%;
 }
 
 .middleText p {
    font-size: max(40px, 3.5vw);
    font-weight: 800;
    font-style: italic;
 }
 
 .firstText {
    color: #EE4E4E !important;
    font-size: max(18px, 1vw);
 }
 
 .bottomText {
    width: 30%;
 }
 
 .bottomText p {
    color: gray;
    letter-spacing: 0.09rem;
    font-size: max(12px, 1vw);
 }
 
 .buttonS {
    border: 2px solid white;
 }
 
 .buttonS:hover {
    background-color: #dfdede;
 
 }

 .border{
    /* text-align: center; */
 }
 .borderText{
    font-weight: 600;
    font-size: max(32px,2.5vw);
    line-height: 1.2;
    padding: 2%;
    text-align: center;
 }
 .secondary-products{
   padding: 3%;
 }

 @media screen and (max-width:1425px) {
    .middleText {
       width: 45%;
    }
 }
 
 @media screen and (max-width:1425px) {
    .middleText {
       width: 45%;
    }
 
    .bottomText {
       width: 33%;
    }
 }
 
 
 @media screen and (max-width:1125px) {
    .middleText {
       width: 50%;
    }
 
    .bottomText {
       width: 36%;
    }
 }
 
 @media screen and (max-width:950px) {
    .middleText {
       width: 60%;
    }
 
    .bottomText {
       width: 42%;
    }
 }
 
 @media screen and (max-width:820px) {
    .homeBannerContainer {
       align-items: center;
       justify-content: center;
    }
 
    .middleText {
       width: 100%;
       text-align: center;
    }
 
    .bottomText {
       width: 100%;
       text-align: center;
    }
 }