@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --mainColor : #ff0336;
}

body{
    background-color: #21242a;
    color: #e3e2dd;
}

*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

body::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}