.navbar {
    padding: 2% 4%;
    width: 100%;
    background-color: transparent;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    content: url("../../../assets/logo.png");
    display: flex;
    justify-content: center;
    align-items: center;
    width: max(80px, 4vw);
}

.logoHolder {
    width: 20%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.navLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: max(30px, 2vw);
}

.navLinks a {
    color: #2d2727;
}

.searchIcon {
    width: max(20px, 1.5vw);
    height: max(20px, 1.5vw);
}

.navbar-scrolled {
    padding: 2% 4%;
    width: 100%;
    background-color: #fbfafa;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    top: 0;
    left: 0;
}

.auth {
    display: flex;
    gap: 20px;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 0.5rem;
    width: 10rem;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
    z-index: 10;
}

.dropdown-menu a {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    padding: 0.25rem 1rem;
    border-radius: 2rem;
    color: #f56565;
    text-decoration: none;
    font-size: 0.875rem;
}

.dropdown-menu:hover, a:hover {
    background-color: #f7fafc;
}

.signout{
    display: flex;
    justify-content: center;
    align-items: center;
}