.navbar {
    padding: 2% 4%;
    width: 100%;
    background-color: transparent;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    content: url("../../../assets/logo.png");
    display: flex;
    justify-content: center;
    align-items: center;
    width: max(80px, 4vw);
}

.logoHolder {
    width: 20%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.navLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: max(30px, 2vw);
}

.navLinks a {
    color: #2d2727;
}


.searchIcon {
    width: max(20px, 1.5vw);
    height: max(20px, 1.5vw);
}

.navbar-scrolled {
    padding: 2% 4%;
    width: 100%;
    background-color: #fbfafa;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    top: 0;
    left: 0;
}

.auth{
    display: flex;
    gap: 20px;
}

.signoutIcon,.userIcon{
    font-size: 30px;
}